<h1>All Reservations </h1>
<% @reservations.each do |rest| %>
	<h2><%= link_to "All restaurants", restaurant_path(rest) %></h2>
	<h3><%= rest.date %></h3>
	<h3><%= rest.time %></h3>
	<% end %>
	<%= link_to "Edit Reservation", edit_restaurant_path(Restaurant.first)%>

